<div class="container">
  <h1>Awesome Products</h1>
  <% @products.each do |product| %>
    <div class="card-product m-4">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= product.title %></h2>
        <h2><%= product.tagline %></h2>
      </div>
    </div>
  <% end %>
</div>
